#adr{ display: inline; color :red}
#adrR{ display: inline; color :red}
#adrB{ display: inline; color :red}
#adr1{ display: inline; color :red}
#adrD{ display: inline; color :red}
#NBRh{ display: inline; color :red}